:root {
    --primary-color: #b6dcf2;
    --background-color : #ffffff;
    --text-color: #000000;
  }
  
  [data-theme="dark"] {
    --primary-color: #bb86fc;
    --background-color: #121212;
    --text-color: #ffffff;
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
  }

  /* rgba(255,0,0,0) */
  @keyframes scroll  {

    from {
      transform: translateY(100%);
      opacity: 0;
  }

    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }